
</main>
<footer>
    <div class="footer-heading">MINDTECH MASTERY</div>
      <div class=" fluid container footer-content">  
          <div class=" row social-media">
            <div class="col-3">
              <i class="social-icon fab fa-facebook-f fa-2x footer-icon"></i>
            </div>
            <div class="col-3">
              <i class="social-icon fab fa-twitter fa-2x footer-icon"></i>
            </div>
            <div class="col-3">
              <i class="social-icon fab fa-instagram fa-2x footer-icon"></i>
            </div>
            <div class="col-3">
              <i class="social-icon fas fa-envelope fa-2x footer-icon"></i>
            </div>
          </div>
      </div>
      <p>&copy; MindMastery. All rights reserved.</p>
  </footer>
</body>

</html>