body{
    background-color: black;
    color: white;

}

/* ----------------------- NAVBAR --------------------------*/
.navbar-brand{
    font-family: Roboto Mono !important;
    font-size: 25px;
}

.nav-link{
    font-family: Roboto Mono;
    font-size: 19px;
    padding: 0 20px 0 20px !important;
}



#landing-page{
    display: flex;
    justify-content: center;
    text-align: justify;
    text-align: justify;
    margin:50px 0 150px 0;
    padding: 0 50px 0 50px;  
    align-items: center !important; 
}

#landing-main-heading{
    font-family: Roboto Mono;
    margin-bottom: 30px;
}

#landing-heading{
    margin-bottom: 30px;
}

#landing-text{
    font-family: Montserrat;
}

.landing-image{
    height: 400px ;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    padding: 10px 40px 10px 40px;
}

#read-button{
    margin-right: 15px !important;
}

/* ------ Footer Edits ------*/
footer {
    background: #333;
    color: #fff;
    padding: 2em 1em;
    text-align: center;
}

.footer-heading{
    font-family: Roboto Mono;
    font-size: 20px;
}

.social-icon{
    margin: 50px 20px 50px 20px
}

.social-icon:hover{
    color:#B59410;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*gap: 2em;*/
}

/* ------------------------ Create Section -------------------------- */
#create-section{
    display: flex;
    justify-content: center;
    text-align: justify;
    text-align: justify;
    margin:50px 0 150px 0;
    padding: 0 50px 0 50px;  
    align-items: center !important; 
}

.create-content{
    text-align: center;
    margin-bottom: 25px;
}

.article-title{
    border-radius: 15px;
    padding: 10px 5px 10px 5px;
    border: none;
}

/*Text for User article*/
.article-content{
    border-radius: 18px;
    padding: 10px 10px 10px 10px;
    border: none;

}
.form-text{
    font-family: Montserrat;
    color: white;
    margin-bottom: 12px;
    font-size: 18px;
}


/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
    textarea {
        height: 350px;
        width: 300px;
    }

    input{
        width: 300px;
    }

 }

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    textarea {
        height: 400px;
        width: 800px;
    }

    input{
        width: 800px;
    }
   
}

 /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    textarea {
        height: 400px;
        width: 800px;
    }

    input{
        width: 800px;
    }
    
   
}

  /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) {
    textarea {
        height: 400px;
        width: 800px;
    }

    input{
        width: 800px;
    }
}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) {
    textarea {
        height: 500px;
        width: 1000px;
    }

    input{
        width: 1000px;
    }

}



/* --------------------- Articles Page ----------------------*/
/* Add a card effect for articles */
.card {
    padding: 20px;
    margin-top: 20px;
 }
 
